html, body {
    font-family: monospace;
    height: 100%;
}

.input-section {
    background-color: black;
    color: white;
    grid-area: input-section;
    display: flex;
    justify-content: end;
}
.calculator-input {
    text-align: end;
    background-color: black;
    color: white;
    font-size: 2.5em;
}

.grey-block {
    background-color: aliceblue;
    color: black;
    border-radius: 0%;
    font-size: 2.5em;

}

.orange-block {
    background-color: orange;
    color: white;
    border-radius:0%;
    font-size: 2.5em;
}

.clear {
    grid-area: clear;
}

.backspace {
    grid-area: backspace;
}
.division {
    grid-area: division;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.multiplication {
    grid-area: multiplication;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.subtraction {
    grid-area: subtraction;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.addition {
    grid-area: addition;
}
.zero {
    grid-area: zero;
}
.calculate {
    grid-area: calculate;
}
.calculator {
    height: 100%;
    display: grid;
    
    column-gap: 1px;
    grid-template-rows: 0.75fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "input-section input-section input-section input-section"
    "clear clear backspace division"
    "seven eight nine multiplication"
    "four five six subtraction"
    "one two three addition"
    "zero zero zero calculate";
}